<section id="about" class="section section--lightpurple schedule">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__content">
        <h1 class="about__heading">What is Euruko?</h1>

        <p>Euruko is a Ruby conference organised annually, each year in a different European city chosen by the participants. In 2021 it will be organized online, and in 2022 in Helsinki, Finland.</p>

        <h1 class="about__heading">Euruko 2021 goes to SPACE</h1>

        <p>
          In the spring we had decided to move the conference to 2021 as it
          became increasingly clear that it would be impossible to hold it while
          the COVID-19 crisis was growing worse in Europe and around the world.
        </p>

        <p>
          Despite the good news about vaccines, we don't currently think that it
          will be realistically possible to hold a large, in-person event in May
          of 2021. Because of this, we've decided to move the Euruko 2021
          conference online.
        </p>

        <p>
          Ticket-holders will get various perks, including at least the
          following:
        </p>

        <ul>
          <li>A goodie bag mailed to them where-ever they are in the world</li>
          <li>Access to interactive conference features</li>
          <li>Access to a Euruko Discord server</li>
          <li>Access to a private Euruko Minecraft server</li>
          <li>A 20% discount to the 2022 conference</li>
        </ul>

        <p>
          We're also planning on increasing access to the conference by offering
          a free stream of the conference to anyone in the world through YouTube
          or Twitch, without the interactive features that paying ticket holders
          will receive.
        </p>

        <p>
          Access to the online features will become available closer to the
          event dates and goodie bags will ship in May.
        </p>

        <h2>CFP</h2>

        <p>
          The call for proposals has now closed. We will announce the speaker
          line-up as soon as possible.
        </p>

        <p>
          All accepted speakers will get full access to the conference,
          including having the goodie bag shipped to them. If you already have a
          ticket to the conference, we will refund you (or you can re-assign the
          ticket to a friend or colleague).
        </p>

        <p>
          If you need any equipment to deliver your talk (e.g. a webcam,
          lighting, or a microphone), we'll buy it for you (within reason).
          Lightning talks excluded.
        </p>

        <h2>Volunteers</h2>

        <p>
          We're
          <a href="https://forms.gle/ikenXXfKpTbogJWy6"
            >looking for volunteers</a
          >
          to act as moderators on the Euruko Discord server and the Euruko
          Minecraft server. We're also looking for guides/mentors for people for
          whom Euruko will be their first tech conference.
        </p>

        <p>
          All accepted volunteers will get full access to the conference,
          including having the goodie bag shipped to them.
        </p>

        <h2>Scholarships/Diversity tickets</h2>

        <p>
          As part of creating an accessible and diverse conference experience,
          Euruko 2021 is inviting members of underrepresented groups (women,
          members of the LGBTQIA+ community, people with disabilities, and so
          forth) to apply for free tickets to Euruko 2021.
        </p>

        <p>
          The tickets can be either digital only tickets or tickets that that
          include having a “goodie bag” shipped to the recipient. In either case
          the recipient gets full access to all conference resources (the
          conference platform, Discord, the Minecraft server etc). We can only
          offer a limited number of goodie bags…
        </p>

        <p>
          Please fill in the <a href="https://forms.gle/3vKAhVyV4934pNiK7">
          application form</a> if you believe you may be eligible. The deadline
          for applications is the
          <time datetime="2021-04-30" title="2021-04-30">30th of April</time>.
        </p>

        <h2>2022</h2>

        <p>
          <strong>Helsinki, baby!</strong> Since Euruko Helsinki hasn't
          happened, we're still aiming to have an in-person conference in
          Helsinki in 2022.
        </p>
      </div>
    </div>
  </div>
</section>
