<section id="about" class="section section--lightpurple schedule">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__content">
        <h1 class="about__heading">
          Euruko 2020 postponed
        </h1>

        <p>
          Due to the huge amount of uncertainty caused by the current situation
          in Europe and across the world we've decided to postpone Euruko until
          May 2021. The new dates are <strong>28.-29.5.2021</strong>.
        </p>

        <p>
          We want to give special thanks to Shopify, Cookpad, Smartly, Woolman,
          and Taktsoft for sticking with us through this difficult decision and
          staying on as sponsors for the postponed event.
        </p>

        <p>
          We are also grateful that our two keynote speakers, Matz and Linda,
          can stay onboard for the rescheduled conference.
        </p>

        <h2>Why?</h2>

        <p>
          The COVID-19 global crisis has made it very difficult to proceed with
          event planning for Euruko. We aren't comfortable with proceeding with
          the call for proposals and other planning until the situation
          normalises and it doesn't look like that is going to happen until at
          best 2-3 months from now.
        </p>
        <p>
          At this stage we can still postpone with relatively little financial
          impact to the conference budget as we are still able to rebook our
          venue without any financial penalties.
        </p>

        <h2>Why not sooner?</h2>

        <p>
          Once we'd decided to postpone the event, the question that remained
          was for how long. While a shorter delay <em>might</em> be sufficient
          we want to avoid a scenario where we would be forced to move the
          conference dates for a second time. In the end 28.-29.5.2021 were the
          only suitable dates that were still available at our venue.
        </p>

        <h2>What happens to existing tickets?</h2>

        <p>
          All existing tickets will be automatically transferred to the new
          dates. If you are no longer able to attend due to the postponement,
          you can fill out
          <a href="https://forms.gle/7NeLwFM38iiMFHXt8">this form</a> for a
          refund.
        </p>
      </div>

      <!-- <div id="form">
        <noscript>The mailing list sign-up requires JavaScript</noscript>
      </div> -->
    </div>
  </div>
</section>
