<section id="about" class="section section--lightpurple schedule">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__content">
        <h1 class="about__heading">What is Euruko?</h1>

        <p>
          Euruko is a Ruby conference organised annually, each year in a
          different European city chosen by the participants.
        </p>

        <h1 class="about__heading">Euruko 2021 goes to SPACE</h1>

        <p>
          Despite the good news about vaccines, it wasn't realistically possible
          to hold a large, in-person event in May of 2021. Because of this, we
          decided to move the Euruko 2021 conference online.
        </p>
      </div>
    </div>
  </div>
</section>
