<header id="header" class="header header--not-scrolled">
  <div class="header__inner">
    <a class="header__logo" href="/">
      <img
        class="header__logo-image header__logo-image--dark"
        src="{{ (resources.Get "images/logo_dark.svg" | resources.Fingerprint).RelPermalink }}"
        alt="Euruko 2021"
      />
      <img
        class="header__logo-image header__logo-image--light"
        src="{{ (resources.Get "images/logo.svg" | resources.Fingerprint).RelPermalink }}"
        alt="Euruko 2021"
      />
    </a>
    <button id="mobile-toggle" class="header__mobile-toggle" tabindex="0" aria-label="Open menu">
      <div class="header__mobile-toggle-inner" tabindex="-1">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
    <nav class="header__navigation">
      <a
        href="/#speakers"
        id="link-speakers"
        class="header__link header__link--orange"
        >Speakers</a
      >
      <a
        href="/#video"
        id="link-video"
        class="header__link header__link--green"
        >Livestream</a
      >
      <a
        href="/#schedule"
        id="link-schedule"
        class="header__link header__link--blue"
        >Schedule</a
      >
      <a
        href="/#sponsors"
        id="link-sponsors"
        class="header__link header__link--pink"
        >Sponsors</a
      >
      <div class="header__divider"></div>
      <!-- <a
        href="https://teespring.com/stores/euruko"
        id="link-5"
        class="header__link header__link--small header__link--teal"
        >Shop</a
      > -->
      <a
        href="/jobs"
        id="link-5"
        class="header__link header__link--small header__link--teal"
        >Jobs</a
      >
      <a
        href="/code_of_conduct"
        id="link-6"
        class="header__link header__link--small header__link--teal"
        >Code of Conduct</a
      >
    </nav>
    <div class="header__language-select">
      <button
        id="lang-select"
        class="header__language-select-button"
        tabindex="0"
      >
        <div class="header__language-select-button-inner" tabindex="-1">
          English
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path
              fill="#6bc3c7"
              d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
            />
          </svg>
        </div>
      </button>
      <div class="header__language-select-dropdown">
        <a href="/">English</a>
        <a href="/suomeksi">Suomi</a>
      </div>
    </div>
  </div>
</header>
