<section id="helsinki" class="section section--green helsinki">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="helsinki__heading">
        <h1
          id="heading-helsinki"
          class="section__heading section__heading--dark-green"
        >
          {{ .Site.Data.helsinki.sectionName }}
        </h1>
      </div>
      <div class="helsinki__facts">
        {{ range.Site.Data.helsinki.facts }}
        <div class="helsinki__fact">
          <a
            href="{{ .url }}"
            target="_blank"
            rel="noopener noreferrer"
            class="factbox"
          >
            <div class="factbox__container">
              <div class="factbox__background"></div>
              <div class="factbox__image">
                <img
                  src="{{ (resources.Get .imageUrl | resources.Fingerprint).RelPermalink }}"
                  alt="{{ .name }}"
                />
              </div>
            </div>
            <span class="factbox__name">
              {{ .name }}
            </span>
          </a>
          <p class="helsinki__description">
            {{ .description }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
