<section class="hero">
  <div class="hero__image-container">
    <img
      id="hero-image"
      class="hero__image"
      src="images/hero.svg"
      alt="Welcome to Euruko 2020"
    />
  </div>
  <div class="hero__shadow"></div>
  <div class="hero__info">
    <p>
      21st–22nd August 2020<br />
      <a href="http://www.savoyteatteri.fi/en/homepage">Savoy Theatre</a>,<br />
      Helsinki, Finland.<br />
      Keynote by <a href="https://twitter.com/yukihiro_matz">Matz</a>.
    </p>
    <a href="#" class="hero__cta"
      ><span>Buy tickets</span>
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path
          fill="#ffffff"
          d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"
        />
      </svg>
    </a>
  </div>
</section>
