<section id="schedule" class="section section--blue schedule">
  <div class="section__container">
    <div class="section__inner-container">
      <h1 id="heading-schedule" class="section__heading section__heading--blue">
        {{ .Site.Data.schedule.sectionName }}
      </h1>
      {{ if .Site.Data.schedule.sectionDescription }}
      <p class="section__info">
        {{ range.Site.Data.schedule.sectionDescription }}
        {{ markdownify . }}<br />
        {{ end }}
      </p>
      {{ end }}

      {{ range.Site.Data.schedule.schedules }}
      <div class="schedule__table">
        <div class="table">
          <div class="table__heading">
            {{ .title }}
          </div>
          <div class="table__table">
            {{ range.events }}
            <div class="table__row">
              <div class="table__time">
                <time datetime="{{ dateFormat "2006-01-02T15:04:05-0700" .start }}">
                  {{- dateFormat "15:04" .start -}}
                </time>
              </div>
              <div class="table__event">
                {{ .event }} {{ with .speaker }}<span class="table__speaker">({{.}})</span>{{end}}
                {{ if .description }}
                <div class="table__description">{{ markdownify .description }}</div>
                {{ end }}
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}

      <p class="schedule__calendar">
        To subscribe to the calendar feed, copy-paste the following URL to your calendar:
      </p>

      <input id="calendarUrl" class="form-url" value="https://euruko2021.org/index.ics" type="url" readonly>

      <ul>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://support.google.com/calendar/answer/37100?hl=en">
            Google Calendar instructions
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://support.apple.com/en-us/HT202361">
            macOS Calendar instructions
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://support.apple.com/guide/iphone/use-multiple-calendars-iph3d1110d4/ios#iph30203de42">
            iOS Calendar instructions
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://support.microsoft.com/en-us/office/import-or-subscribe-to-a-calendar-in-outlook-on-the-web-503ffaf6-7b86-44fe-8dd6-8099d95f38df">
            Outlook instructions (subscribe, don't import)
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
