<section id="schedule" class="section section--blue schedule">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="schedule__heading">
        <h1
          id="heading-schedule"
          class="section__heading section__heading--blue"
        >
          Schedule
        </h1>
        <p class="schedule__info">The schedule is subject to change.</p>
      </div>
      <div class="schedule__table">
        <div class="table">
          <div class="table__heading">
            Friday, August 21
          </div>
          <div class="table__table">
            <div class="table__row">
              <div class="table__time">08:30</div>
              <div class="table__value">
                Registrations
              </div>
            </div>
            <div class="table__row">
              <div class="table__time">09:45</div>
              <div class="table__value">
                Keynote: Functional (Future) Ruby - Yukihiro Matsumoto
              </div>
            </div>
            <div class="table__row">
              <div class="table__time">10:00</div>
              <div class="table__value">
                Keynote: Functional (Future) Ruby - Yukihiro Matsumoto
              </div>
            </div>
            <div class="table__row">
              <div class="table__time">10:30</div>
              <div class="table__value">
                Keynote: Functional (Future) Ruby - Yukihiro Matsumoto
              </div>
            </div>
            <div class="table__row">
              <div class="table__time">10:50</div>
              <div class="table__value">
                Matt's speech
                <p>
                  We are currently transferring our 5 public Rails apps to 1 big
                  monolith. All five of them are job boards with seemingly
                  similar logic but historically grown exceptions and weird
                  peculiarities. The perspective to have multiple data bases
                  managed in 1 app in Rails 6 sparked our idea. The whole story!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="schedule__table">
        <div class="table">
          <div class="table__heading">
            Saturday, August 22
          </div>
          <div class="table__table">
            <div class="table__row">
              <div class="table__time">08:30</div>
              <div class="table__value">
                Registrations
              </div>
            </div>
            <div class="table__row">
              <div class="table__time">09:45</div>
              <div class="table__value">
                Keynote: Functional (Future) Ruby - Yukihiro Matsumoto
              </div>
            </div>
            <div class="table__row">
              <div class="table__time">10:00</div>
              <div class="table__value">
                Keynote: Functional (Future) Ruby - Yukihiro Matsumoto
              </div>
            </div>
            <div class="table__row">
              <div class="table__time">10:30</div>
              <div class="table__value">
                Keynote: Functional (Future) Ruby - Yukihiro Matsumoto
              </div>
            </div>
            <div class="table__row">
              <div class="table__time">10:50</div>
              <div class="table__value">
                Matt's speech
                <p>
                  We are currently transferring our 5 public Rails apps to 1 big
                  monolith. All five of them are job boards with seemingly
                  similar logic but historically grown exceptions and weird
                  peculiarities. The perspective to have multiple data bases
                  managed in 1 app in Rails 6 sparked our idea. The whole story!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
