<section id="schedule" class="section section--blue schedule">
  <div class="section__container">
    <div class="section__inner-container">
      <h1 id="heading-schedule" class="section__heading section__heading--blue">
        {{ .Site.Data.schedule.sectionName }}
      </h1>
      {{ if .Site.Data.schedule.sectionDescription }}
      <p class="section__info">
        {{ range.Site.Data.schedule.sectionDescription }}
        {{ markdownify . }}<br />
        {{ end }}
      </p>
      {{ end }}
      {{ range.Site.Data.schedule.schedules }}
      <div class="schedule__table">
        <div class="table">
          <div class="table__heading">
            {{ .title }}
          </div>
          <div class="table__table">
            {{ range.events }}
            <div class="table__row">
              <div class="table__time">{{ .time }}</div>
              <div class="table__event">
                {{ .event }}
                {{ if .description }}
                <p class="table__description">{{ .description }}</p>
                {{ end }}
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
