<section id="speakers" class="section speakers">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="speakers__heading">
        <h1
          id="heading-speakers"
          class="section__heading section__heading--orange"
        >
          Speakers
        </h1>
      </div>
      <div class="speakers__profiles">
        <div class="speakers__profile">
          <a
            href="https://google.com"
            target="_blank"
            rel="noopener noreferrer"
            class="profile"
          >
            <div class="profile__container">
              <div class="profile__background"></div>
              <div class="profile__image">
                <img
                  src="images/Tero-Koistinen-Savoy_Theatre_Helsinki-CC-BY-SA.jpg"
                  alt="Matt Smith"
                />
              </div>
            </div>
            <span class="profile__name">Matt Smith</span>
          </a>
        </div>
        <div class="speakers__profile">
          <a
            href="https://google.com"
            target="_blank"
            rel="noopener noreferrer"
            class="profile"
          >
            <div class="profile__container">
              <div class="profile__background"></div>
              <div class="profile__image">
                <img
                  src="images/Tero-Koistinen-Savoy_Theatre_Helsinki-CC-BY-SA.jpg"
                  alt="Matt Smith"
                />
              </div>
            </div>
            <span class="profile__name">Matt Smith</span>
          </a>
        </div>
        <div class="speakers__profile">
          <a
            href="https://google.com"
            target="_blank"
            rel="noopener noreferrer"
            class="profile"
          >
            <div class="profile__container">
              <div class="profile__background"></div>
              <div class="profile__image">
                <img
                  src="images/Tero-Koistinen-Savoy_Theatre_Helsinki-CC-BY-SA.jpg"
                  alt="Matt Smith"
                />
              </div>
            </div>
            <span class="profile__name">Matt Smith</span>
          </a>
        </div>
        <div class="speakers__profile">
          <a
            href="https://google.com"
            target="_blank"
            rel="noopener noreferrer"
            class="profile"
          >
            <div class="profile__container">
              <div class="profile__background"></div>
              <div class="profile__image">
                <img
                  src="images/Tero-Koistinen-Savoy_Theatre_Helsinki-CC-BY-SA.jpg"
                  alt="Matt Smith"
                />
              </div>
            </div>
            <span class="profile__name">Matt Smith</span>
          </a>
        </div>
        <div class="speakers__profile">
          <a
            href="https://google.com"
            target="_blank"
            rel="noopener noreferrer"
            class="profile"
          >
            <div class="profile__container">
              <div class="profile__background"></div>
              <div class="profile__image">
                <img
                  src="images/Tero-Koistinen-Savoy_Theatre_Helsinki-CC-BY-SA.jpg"
                  alt="Matt Smith"
                />
              </div>
            </div>
            <span class="profile__name">Matt Smith</span>
          </a>
        </div>
        <div class="speakers__profile">
          <a
            href="https://google.com"
            target="_blank"
            rel="noopener noreferrer"
            class="profile"
          >
            <div class="profile__container">
              <div class="profile__background"></div>
              <div class="profile__image">
                <img
                  src="images/Tero-Koistinen-Savoy_Theatre_Helsinki-CC-BY-SA.jpg"
                  alt="Matt Smith"
                />
              </div>
            </div>
            <span class="profile__name">Matt Smith</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
