<section id="sponsors" class="section sponsors">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__columns">
        <div class="section__small-column">
          <div class="sponsors__heading">
            <h1
              id="heading-sponsors"
              class="section__heading section__heading--pink"
            >
              Organizer
            </h1>
          </div>
        </div>
        <div class="section__large-column">
          <div class="sponsors__list sponsors__list--organizer">
            <a
              class="sponsors__link"
              href="https://google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/kisko.svg" alt="Kisko Labs" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sponsors-b" class="section sponsors">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__columns">
        <div class="section__small-column">
          <div class="sponsors__heading">
            <h1
              id="heading-sponsors-b"
              class="section__heading section__heading--pink"
            >
              Sponsors
            </h1>
          </div>
        </div>
        <div class="section__large-column">
          <div class="sponsors__list">
            <a
              class="sponsors__link"
              href="https://google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/kisko.svg" alt="Kisko Labs" />
            </a>
            <a
              class="sponsors__link"
              href="https://google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/kisko.svg" alt="Kisko Labs" />
            </a>
            <a
              class="sponsors__link"
              href="https://google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/kisko.svg" alt="Kisko Labs" />
            </a>
            <a
              class="sponsors__link"
              href="https://google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/kisko.svg" alt="Kisko Labs" />
            </a>
          </div>
          <div class="sponsors__list sponsors__list--small">
            <a
              class="sponsors__link"
              href="https://google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/kisko.svg" alt="Kisko Labs" />
            </a>
            <a
              class="sponsors__link"
              href="https://google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/kisko.svg" alt="Kisko Labs" />
            </a>
            <a
              class="sponsors__link"
              href="https://google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/kisko.svg" alt="Kisko Labs" />
            </a>
            <a
              class="sponsors__link"
              href="https://google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/kisko.svg" alt="Kisko Labs" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
