<section id="sponsors" class="section section--lightpink sponsors">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__columns">
        <div class="section__small-column">
          <h1
            id="heading-sponsors"
            class="section__heading section__heading--pink"
          >
            {{ .Site.Data.sponsors.organizerTitle }}
          </h1>
          {{ if .Site.Data.sponsors.organizerDescription }}
          <p class="section__info">
            {{ range.Site.Data.sponsors.organizerDescription }}
            {{ markdownify . }}<br />
            {{ end }}
          </p>
          {{ end }}
        </div>
        <div class="section__large-column">
          <div class="sponsors__list sponsors__list--organizer">
            <a
              class="sponsors__link"
              href="{{ .Site.Data.sponsors.organizer.url }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{{ (resources.Get .Site.Data.sponsors.organizer.imageUrl | resources.Fingerprint).RelPermalink }}"
                alt="{{ .Site.Data.sponsors.organizer.name }}"
                loading="lazy"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="section__columns">
        <div class="section__small-column">
          <h1
            id="heading-sponsors-b"
            class="section__heading section__heading--pink"
          >
            {{ .Site.Data.sponsors.sponsorsTitle }}
          </h1>
          {{ if .Site.Data.sponsors.sponsorsDescription }}
          <p class="section__info">
            {{ range.Site.Data.sponsors.sponsorsDescription }}
            {{ markdownify . }}<br />
            {{ end }}
          </p>
          {{ end }}
        </div>
        <div class="section__large-column">
          <h2 class="sponsors__text-right">Want to see your logo here? Consider <a href="/sponsoring">sponsoring us.</a></h2>
          <!-- <div class="sponsors__list">
            {{ range.Site.Data.sponsors.sponsorsLarge }}
            <a
              class="sponsors__link"
              href="{{ .url }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{{ (resources.Get .imageUrl | resources.Fingerprint).RelPermalink }}"
                alt="{{ .name }}"
                loading="lazy"
              />
            </a>
            {{ end }}
          </div>
          <div class="sponsors__list sponsors__list--small">
            {{ range.Site.Data.sponsors.sponsorsSmall }}
            <a
              class="sponsors__link"
              href="{{ .url }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{{ (resources.Get .imageUrl | resources.Fingerprint).RelPermalink }}"
                alt="{{ .name }}"
                loading="lazy"
              />
            </a>
            {{ end }}
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
