<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Euruko 2020" />
    <meta name="author" content="Kisko Labs" />
    <title>{{ $.Site.Title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ (resources.Get "images/apple-touch-icon.png" | resources.Fingerprint).RelPermalink }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ (resources.Get "images/favicon-16x16.png" | resources.Fingerprint).RelPermalink }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ (resources.Get "images/favicon-32x32.png" | resources.Fingerprint).RelPermalink }}" />
    <link rel="manifest" href="{{ (resources.Get "template.webmanifest" | resources.ExecuteAsTemplate "site.webmanifest" . | resources.Fingerprint).RelPermalink }}" />
    <link rel="mask-icon" href="{{ (resources.Get "images/safari-pinned-tab.svg" | resources.Fingerprint).RelPermalink }}" color="#f15a5b" />
    <meta name="msapplication-TileColor" content="#f15a5b" />
    <meta name="theme-color" content="#f15a5b" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@euruko" />
    <meta name="twitter:creator" content="@euruko" />
    <meta property="twitter:title" content="Euruko 2020" />
    <meta property="twitter:description" content="Euruko 2020 will be held on the 21st and 22nd of August at the Savoy Theatre" />
    <!-- Photo by Tero Koistinen, Creative Commons Attribution-Share Alike 4.0 -->
    <meta property="twitter:image" content="{{ (resources.Get "images/Tero-Koistinen-Savoy_Theatre_Helsinki-CC-BY-SA.jpg" | resources.Fingerprint).RelPermalink | absURL }}" />
    <meta property="twitter:image:alt" content="The Savoy Theatre at night" />

    {{ $stylesheet := .Site.Data.webpack.main }}
    {{- with $stylesheet -}}
      <link href="{{ relURL .css }}" rel="stylesheet"{{ if isset . "cssIntegrity" }} integrity="{{.cssIntegrity}}"{{ end }}>
    {{- end -}}
  </head>
  <body>
    {{- block "header" . -}}{{- partial "header" . -}}{{- end -}}

    {{- block "main" . -}}{{- end -}}

    {{- block "footer" . -}}{{- partial "footer" . -}}{{- end -}}

    {{- $script := .Site.Data.webpack.main -}}
    {{ with $script }}
      <script defer src="{{ relURL .js }}"{{ if isset . "cssIntegrity" }} integrity="{{.jsIntegrity}}"{{ end }}></script>
    {{ end }}
  </body>
</html>
