<!DOCTYPE html>
<html lang="{{ default $.Site.Language.Lang .Params.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="{{default $.Site.Params.description .Description}}" />
    <meta name="author" content="Kisko Labs" />
    <title>{{ default $.Site.Title .Title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ (resources.Get "images/apple-touch-icon.png" | resources.Fingerprint).RelPermalink }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ (resources.Get "images/favicon-16x16.png" | resources.Fingerprint).RelPermalink }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ (resources.Get "images/favicon-32x32.png" | resources.Fingerprint).RelPermalink }}" />
    <link rel="manifest" href="{{ (resources.Get "template.webmanifest" | resources.ExecuteAsTemplate "site.webmanifest" . | resources.Fingerprint).RelPermalink }}" />
    <link rel="mask-icon" href="{{ (resources.Get "images/safari-pinned-tab.svg" | resources.Fingerprint).RelPermalink }}" color="#f15a5b" />
    <meta name="msapplication-TileColor" content="#4f3767" />
    <meta name="theme-color" content="#4f3767" />

    <link rel="canonical" href="{{ .Permalink | absURL }}">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@euruko" />
    <meta name="twitter:creator" content="@euruko" />
    <meta property="twitter:title" content="{{ default $.Site.Title .Title }}" />
    <meta property="twitter:description" content="{{default $.Site.Params.description .Description}}" />
    <meta property="twitter:image" content="{{ (resources.Get (default $.Site.Params.twitter_card .Params.social_image) | resources.Fingerprint).RelPermalink | absURL }}" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ default $.Site.Title .Title }}">
    <meta property="og:description" content="{{default $.Site.Params.description .Description}}">
    <meta property="og:image" content="{{ (resources.Get (default $.Site.Params.facebook_share .Params.social_image) | resources.Fingerprint).RelPermalink | absURL }}">
    <meta property="og:url" content="{{ .Permalink | absURL }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css" integrity="sha256-SHMGCYmST46SoyGgo4YR/9AlK1vf3ff84Aq9yK4hdqM=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:500,500i,700,700i,800,800i&display=swap" rel="stylesheet">
    {{ $stylesheet := .Site.Data.webpack.main }}
    {{- with $stylesheet -}}
      <link href="{{ relURL .css }}" rel="stylesheet"{{ if isset . "cssIntegrity" }} integrity="{{.cssIntegrity}}"{{ end }}>
    {{- end -}}

    <!-- Hotjar Tracking Code for https://euruko2020.org/ -->
    <!-- <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1691704,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script> -->
  </head>
  <body data-world="{{ (resources.Get "data/world.json" | resources.Fingerprint).RelPermalink }}" data-countries="{{ (resources.Get "data/countries.json" | resources.Fingerprint).RelPermalink }}">
    {{- block "header" . -}}{{- partial "header" . -}}{{- end -}}

    {{- block "main" . -}}{{- end -}}

    {{- block "footer" . -}}{{- partial "footer" . -}}{{- end -}}

    {{- $script := .Site.Data.webpack.main -}}
    {{ with $script }}
      <script defer src="{{ relURL .js }}"{{ if isset . "cssIntegrity" }} integrity="{{.jsIntegrity}}"{{ end }}></script>
    {{ end }}
  </body>
</html>
