{{ define "main" }}
<section class="section section--purple">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__single-header">
        {{ if isset .Params "title_image" }}
        <img
          class="hero__image"
          src="{{ (resources.Get .Params.title_image | resources.Fingerprint).RelPermalink }}"
          alt="{{- .Title -}}"
        />
        {{ else }}
        <h1>
          {{- .Title -}}
        </h1>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__single-content">
        <article class="section__content">
          <main>{{- .Content -}}</main>
        </article>
      </div>
    </div>
  </div>
</section>
{{ end }}
