{{ define "main" }}

{{- block "hero" . -}}{{- partial "hero" . -}}{{- end -}}

{{- block "speakers" . -}}{{- partial "speakers" . -}}{{- end -}}

{{- block "schedule" . -}}{{- partial "schedule" . -}}{{- end -}}

<section>
  <h1>Euruko 2020</h1>
  <h2>21st–22nd August 2020</h2>
  <br />
  <h3>
    <a class="link" href="http://www.savoyteatteri.fi/en/homepage"
      >Savoy Theatre</a
    >, Helsinki, Finland
  </h3>
  <br /><br />
  <p>
    Keynote by <a class="link" href="https://twitter.com/yukihiro_matz">Matz</a>
  </p>
</section>
<aside>
  <div id="form">
    <noscript>The mailing list sign-up requires JavaScript</noscript>
  </div>
</aside>

{{ end }}
