.helsinki {
  &__facts {
    display: flex;
    flex-wrap: wrap;
    margin: -60px -2% 0 -2%;
  }

  &__fact {
    padding: 60px 2% 0 2%;
    flex-basis: 25%;
  }

  @include mq($until: desktop) {
    &__fact {
      flex-basis: 50%;
    }
  }

  @include mq($until: largeTablet) {
    &__facts {
      margin: -40px -10px 0 -10px;
    }

    &__fact {
      padding: 40px 10px 0 10px;
    }
  }

  @include mq($until: tablet) {
    &__fact {
      flex-basis: 50%;
    }
  }

  &__description {
    margin-top: 1em;
    font-size: 18px;
    text-align: center;
  }
}
