.speakers {
  &__profiles {
    display: flex;
    flex-wrap: wrap;
    margin: -60px -1% 0 -1%;
  }

  &__profile {
    padding: 60px 1% 0 1%;
    flex-basis: 20%;
  }

  @include mq($until: desktop) {
    &__profile {
      flex-basis: 25%;
    }
  }

  @include mq($until: largeTablet) {
    &__profiles {
      margin: -40px -10px 0 -10px;
    }

    &__profile {
      padding: 40px 10px 0 10px;
      flex-basis: 33.3%;
    }
  }

  @include mq($until: tablet) {
    &__profile {
      flex-basis: 50%;
    }
  }
}
