.sponsors {
  &__link {
    position: relative;
    flex-basis: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 20px;
    background: rgba(0, 0, 0, 0.05);
    padding: 20px 40px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.15s ease-in-out;

    @include mq($until: desktop) {
      flex-basis: calc(100% - 20px);
    }

    &:hover {
      box-shadow: inset 0 0 0 2px $teal;
    }
  }

  &__sponsor-description {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: $grey-1;
    padding: 20px 0 10px 0;
    margin-top: 20px;
    font-size: 14px;
  }

  &__tag {
    position: absolute;
    top: -10px;
    background: #e35050;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.2em;
    font-weight: $bold;
    padding: 3px 7px 3px 10px;
    border-radius: 256px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    & img {
      margin-top: 10px;
      max-width: 200px;
      max-height: 100px;
    }

    &--organizer {
      .sponsors__link {
        padding: 20px 40px;
        background: linear-gradient(rgba($blue-1, 0.1), rgba(0, 0, 0, 0.05));
      }

      .sponsors__tag {
        background: $blue-1;
      }

      img {
        max-width: 300px;
      }

      .sponsors__sponsor-description {
        font-size: 16px;
      }
    }

    &--emerald {
      .sponsors__link {
        background: linear-gradient(rgba($green-2, 0.15), rgba(0, 0, 0, 0.05));
      }

      .sponsors__tag {
        background: $green-2;
      }
    }

    &--topaz {
      .sponsors__tag {
        background: $orange;
      }
    }
    &--platform {
      .sponsors__link {
        background: linear-gradient(rgba($green-2, 0.15), rgba(0, 0, 0, 0.05));
      }

      .sponsors__tag {
        background: $green-2;
      }
    }

    &--ruby {
      .sponsors__link {
        padding: 20px 40px;
        background: linear-gradient(rgba(#e35050, 0.1), rgba(0, 0, 0, 0.05));
      }

      img {
        max-width: 300px;
      }

      .sponsors__sponsor-description {
        font-size: 16px;
      }
    }

    &--small {
      .sponsors__link {
        flex-basis: auto;
        justify-content: center;
        padding: 30px 25px;
      }

      img {
        margin-top: 0;
        width: 150px;
        max-width: 150px;
      }
    }
  }

  &__text-right {
    @include mq($from: largeTablet) {
      text-align: right;
    }
  }

  @include mq($from: largeTablet) {
    &__list {
      justify-content: flex-end;
      margin-left: 0;
    }
  }
}
