.sponsors {
  &__link {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 20px;
    background: #eee;
    padding: 15px 30px;
    border-radius: 100px;
    transition: all 0.15s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 0 2px $teal;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    & img {
      max-width: 200px;
    }

    &--organizer {
      .sponsors__link {
        background: none;
        padding: 20px;
      }

      img {
        max-width: 400px;
      }
    }

    &--small {
      .sponsors__link {
        padding: 10px 20px;
      }

      img {
        max-width: 100px;
      }
    }
  }

  &__text-right {
    @include mq($from: largeTablet) {
      text-align: right;
    }
  }

  @include mq($from: largeTablet) {
    &__list {
      justify-content: flex-end;
      margin-left: 0;
    }
  }
}
