.video {
  &__grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__container {
    width: 48%;
    margin-bottom: 1rem;
  }

  &__label {
    font-weight: bold;
    margin-bottom: 0.25em !important;
  }
}

@media only screen and (max-width: 600px) {
  .video {
    &__container {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
